
body{
  background-color: #FDFBD4;
  }

.manufacturing-consent-regular {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  text-align: center;
  color: #550000;
  }

#planets{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td {
	border: 1px solid;
  }

  .oswald-compact {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #282822;
  }

  .border-disappear {
    border: 0px;
  }

  .saturn-column {
    background-color: #a8a78d;
  }

  .uranus-column {
   background-color: #e1eeee; 
  }

  .venus-column {
    background-color: #f2ddb1;
  }

  .mars-column {
    background-color: #f0e7e7;
  }
  
  strong {
    color: #734128;
  }